{{define "screen-precheck"}}<template x-if="screen === 'precheck'">
<div class="screen" x-data="screenPrecheck">
  <div class="body">
    {{template "stepper"}}

    <div class="cols">
      <section class="card">
        <h2 class="card-h" x-text="t('precheck.card.heading')"></h2>
        <p class="card-p" x-text="summary"></p>

        <template x-if="!report">
          <div aria-hidden="true">
            <template x-for="n in 6" :key="'chk-skel-' + n">
              <div class="chk">
                <span class="ic ic-skeleton">{{template "icon-unchecked"}}</span>
                <span class="chk-b">
                  <span class="skel-bar" :style="'width:' + (40 + (n * 11) % 35) + '%'"></span>
                  <span class="skel-bar skel-bar-sub" :style="'width:' + (55 + (n * 13) % 30) + '%'"></span>
                </span>
              </div>
            </template>
          </div>
        </template>
        <template x-for="row in rows" :key="row.id">
          <div class="chk">
            <span class="ic" :class="'ic-' + row.state">
              <template x-if="row.state === 'ok'">{{template "icon-ok"}}</template>
              <template x-if="row.state === 'warn'">{{template "icon-warn"}}</template>
              <template x-if="row.state === 'bad'">{{template "icon-bad"}}</template>
            </span>
            <span class="chk-b">
              <span class="chk-t" x-text="row.title"></span>
              <template x-if="row.detail"><div class="chk-d"><span x-text="row.detail"></span><template x-if="row.em"><em x-text="row.em"></em></template></div></template>
              <template x-if="row.remedy"><div class="chk-d" x-text="row.remedy"></div></template>
            </span>
          </div>
        </template>
      </section>

      <section class="card">
        <h2 class="card-h" x-text="t('precheck.transfer.heading')"></h2>
        <template x-if="manifest">
          <div class="sum"><span class="sum-n" x-text="sumNumber"></span><span class="sum-u" x-text="sumUnit"></span></div>
        </template>
        <template x-if="!manifest">
          <div aria-hidden="true">
            <div class="sum"><span class="skel-bar skel-bar-sum" style="width:4rem"></span></div>
            <template x-for="n in 5" :key="'man-skel-' + n">
              <div class="man">
                <span class="skel-bar" :style="'width:' + (35 + (n * 9) % 25) + '%'"></span>
                <span class="skel-bar" style="width:2.4rem"></span>
              </div>
            </template>
          </div>
        </template>
        <template x-for="line in transfer" :key="line.key">
          <div class="man-group">
            <div class="man" :class="{ expand: line.items.length, open: expanded[line.key] }"
                 :role="line.items.length ? 'button' : null" :tabindex="line.items.length ? 0 : null"
                 :aria-expanded="line.items.length ? (!!expanded[line.key]).toString() : null"
                 @click="line.items.length && toggleTransfer(line.key)"
                 @keydown.enter.prevent="line.items.length && toggleTransfer(line.key)"
                 @keydown.space.prevent="line.items.length && toggleTransfer(line.key)">
              <span x-text="line.label"></span>
              <span class="man-v">
                <span x-text="line.value"></span>
                <template x-if="line.items.length">{{template "icon-chevron"}}</template>
              </span>
            </div>
            <template x-if="line.items.length && expanded[line.key]">
              <div class="man-items">
                <template x-for="item in line.items" :key="item.label + item.em">
                  <div class="man-item">
                    <span><span x-text="item.label"></span><template x-if="item.em"><em x-text="' ' + item.em"></em></template></span>
                    <span x-text="item.value"></span>
                  </div>
                </template>
              </div>
            </template>
          </div>
        </template>
        <div class="note" x-text="t('precheck.transfer.note')"></div>
      </section>
    </div>
  </div>

  <footer class="foot">
    <button type="button" class="ghost" @click="back()" x-text="t('action.back')"></button>
    <span class="foot-spacer"></span>
    <template x-if="report"><span class="foot-hint" x-text="hint"></span></template>
    <button type="button" :disabled="busy" @click="load()" x-text="t('action.recheck')"></button>
    <button type="button" class="primary" :disabled="!canProceed" @click="proceed()" x-text="t('action.next')"></button>
  </footer>
</div>
</template>{{end}}
